.container {

    margin: 10rem auto;
    max-width: 90rem;
    background-color: $container-color;
    display: grid;
    grid-template-rows: 7rem 25rem;
    grid-template-columns: repeat(3, 30rem);

    @include respond(phone) {

        max-width: 100%;
        display: flex;
        flex-direction: column;
        grid-template-rows: none;
        grid-template-columns: none;

    }

    &_tab {

        background-color: $tab-color;
        font-family: $tab-font;
        padding-top: 2.2rem;
        font-size: 2rem;
        color: $tab-font-color;
        text-align: center;
        grid-row: 1/2;
        text-transform: capitalize;
        font-weight: 500;
        cursor: pointer;

        @include respond(phone) {

            height: 7rem;
    
        }

        &.active, &:hover {

            background-color: $active-color;
            color: $active-font-color;
            border-bottom: solid 2px $active-font-color;
        }

        &:focus {

            outline:none;
        }

        &.first {

            grid-column: 1/2; 

        }

        &.second {

            grid-column: 2/3;
            border-left: 1px solid $color-white;
            border-right: 1px solid $color-white;

        }

        &.third {

            grid-column: 3/-1;

        }

        &-content {

            grid-row: 2/-1;
            grid-column: 1/-1;
            font-family: $content-font;
            font-size: 1.4rem;
            color: $content-font-color;
            text-align: left;
            padding: 5.5rem 4.5rem;
            visibility: hidden;
            display: flex;
            flex-direction: column;
            transition: transform .3s ease .15s;
            transform-origin: top left;
            transform: scale(0, 0);

            @include respond(phone) {
         
                padding: 0;
                height: 0;
        
            }

            & > * {

                margin-bottom: 1rem;
            }

            &.active {

                visibility: visible;
                height: auto;
                display: flex;
                padding: 5.5rem 4.5rem;
                transform: scale(1, 1);
            
              
            }

            &.first {


            }
    
            &.second {
    
            }
    
            &.third {
    
            }

        }
    }
}

.price_wrapper {

    margin: 10rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90rem;

    @include respond(xs) {

        flex-direction: column;

        & > * {

            margin: 1rem auto;
        }

    }

    &-option {

        margin: auto 1rem;

    }

    &-text {

        font-family: $content-font;
        font-size: 1.4rem;
        color: $content-font-color;
        text-transform: capitalize;

    }

    &-head {

        font-family: $tab-font;
        font-size: 2rem;
        color: $color-green;
        text-align: center;
        text-transform: capitalize;
        font-weight: 500;
        margin: 0 1rem auto 1rem;

    }

}