/*
   ** FONTS

*/

$tab-font : 'Roboto', sans-serif;
$content-font : 'Fira Sans', sans-serif;


/*

   ** COLORS

*/

$color-white : #FEFEFE;
$container-color : #FBFBFB;
$tab-color : #EEEEEE;
$tab-font-color : #353535;
$content-font-color : #454545;
$active-color : #e0b7fc;
$active-font-color : #6b04af;
